.footer hr{
    background-color: rgb(173, 169, 169);
}

.footer ul{
    list-style-type:none;
}
.footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
}

.footer .p1{
    color: rgb(153, 148, 148);
    font-size: 0.9rem;
}

.footer .p2{
    margin-left: 12rem;
    font-weight: bold;
    font-size: 0.9rem;

}